<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="logfile"
                fileName="/Users/ouyangguiping/Desktop/vueee/MyWiki/BackEnd/MyWiki/MyWiki/logs/nlog-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
                archiveAboveSize="2147483646"
                maxArchiveFiles="10"
        />
        <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
        <target xsi:type="File" name="ownFile-web"
                fileName="/Users/ouyangguiping/Desktop/vueee/MyWiki/BackEnd/MyWiki/MyWiki/logs/nlog-AspNetCore-own-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
        <target xsi:type="Console" name="logconsole"/>
        <target xsi:type="Mail"
                name="mail"
                smtpServer="smtp.example.com"
                smtpPort="587"
                smtpAuthentication="Basic"
                smtpUserName="yourEmail@example.com"
                smtpPassword="yourEmailPassword"
                enableSsl="true"
                from="yourEmail@example.com"
                to="adminEmail@example.com"
                subject="Error in Application"
                body="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5}"
        />
    </targets>

    <rules>
        <logger name="*" writeTo="logfile"/>
        <!-- <logger name="*" minlevel="Error" writeTo="mail" /> -->
        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="Microsoft.Hosting.Lifetime.*" minlevel="Info" writeTo="ownFile-web" final="true"/>
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="logconsole "/>

    </rules>
</nlog>

        